# Ranorex Specific files
**/*[Rr]eports
**/*.rxlog
**/*.rxlog.data
**/*.jpg
**/*.rxuser
**/*.pref
**/*TCS_LIB.dll
Ranorex.rxsettings

# Build results
**/*[Dd]ebug/
**/*[Dd]ebugPublic/
**/*[Rr]elease/
**/*x64/
**/*build/
**/*bld/
**/*[Bb]in/
**/*[Oo]bj/

# Visual Studio profiler
**/*.psess
**/*.vsp
**/*.vspx

# Other Files
Authentication.csv