# Ranorex Specific files
/Testing/[Rr]eports
/Testing/*.rxlog
/Testing/*.rxlog.data
/Testing/*.jpg
/Testing/*.rxuser
/Testing/*.pref
/Testing/TCS_LIB.dll

# Build results
/Testing/[Dd]ebug/
/Testing/[Dd]ebugPublic/
/Testing/[Rr]elease/
/Testing/x64/
/Testing/build/
/Testing/bld/
/Testing/[Bb]in/
/Testing/[Oo]bj/

# Visual Studio profiler
/Testing/*.psess
/Testing/*.vsp
/Testing/*.vspx